@charset "UTF-8";

@font-face {
    font-family: "Arimo";
    src: url("../fontes/Arimo-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Bloody";
    src: url("../fontes/BLOODY.TTF");
}

:root {
    --fonte1: "Arimo";
    --fonte2: "Bloody";
    --fonte3: Arial, Helvetica, sans-serif;

    --cor1: black;
    --cor2: white;
    --cor3: red;
    --cor4: gray;
}

body, html {
    background-color: var(--cor1);
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--cor4);
    position: relative;
    z-index: 10000;
    overflow: visible;
}

header > h1 {
    color: var(--cor2);
    font-family: var(--fonte2);
    padding: 15px;
}

header > h1 > span#pasta {
    color: var(--cor3);
}

header > span#burger {
    color: var(--cor2);
    font-size: 2em;
    display: block;
    position: absolute;
    right: 20px;
    top: 30px;
    padding: 5px;
    cursor: pointer;
}

header > span#burger:hover {
    transition: 0.2s;
    background-color: rgb(53, 50, 50);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 30px;
    padding: 5px;
    color: var(--cor3);
}

header > nav#itens {
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: calc(100vh - 100%);
    padding-top: 16px;
    display: none;
    background-color: var(--cor1)!important;  
    border-top: 1px solid var(--cor4);
    border-bottom: 1px solid var(--cor4);
    z-index: 9999;
}

header > nav#itens > ul > li {
    font-family: var(--fonte3);
    transition: 0.2s;
    background-color: var(--cor1);
}

header > nav#itens > ul > li > a > span {
    font-size: 0.7em;
}

header > nav#itens > ul > li {
    color: var(--cor2);
    font-family: var(--fonte3);
    padding: 140px;
    text-align: center;
    font-size: 1.28em;
}

header > nav#itens > ul > li > a:hover {
    transition: 0.2s;
    color: var(--cor3);
}

header > nav#itens > ul > div#linha > * {
    border-bottom: 1.5px solid rgb(41, 44, 44);
    border-radius: 5px;
    width: 95%;
}

header > nav#itens > ul > div.pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0px 15px 0px;
    background-color: var(--cor1);
}

header > nav#itens > ul > div.pesquisa > input[type=text] {
    width: 82%;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--cor2);
}

header > nav#itens > ul > div.pesquisa > input[type=text]:hover {
    transition: 0.2s;
    background-color: whitesmoke;
}

header > nav#itens > ul > div.pesquisa > button {
    width: 35px;
    height: 30px;
    text-align: center;
    background-image: linear-gradient(to top, rgb(85, 82, 82), rgb(71, 68, 68));
    border-radius: 10px;
    margin-right: 5px;
}

header > nav#itens > ul > div.pesquisa > button > span {
    display: flex;
    align-items: center;
    color: var(--cor2);
    font-size: 20px;
}

header > nav#itens > ul > div#redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 0px 30px;
    color: var(--cor2);
}

header > nav#itens > ul > div#redes > a > i {
    height: 30px;
    padding-inline: 10px;
}

header > nav#itens > ul > div#redes > a > i:hover {
    transition: 0.2s;
    color: var(--cor3);
}

main > div#imagem > img {
    width: 100%;
    height: 60vh;
}

main > section#inicio > h3, h1 {
    text-align: center;
}

main > section#inicio > h3 {
    font: bold 1.5em var(--fonte1);
    color: var(--cor4);
}

main > section#inicio > h1 {
    font: 3em var(--fonte2);
    color: var(--cor2);
}

main > section#inicio > h1 > span#creepypasta {
    color: var(--cor3);
}

main > section#inicio > p {
    font: 1.3em var(--fonte3);
    color: var(--cor2);
    padding: 15px;
}

main > section#inicio > div.botao {
    padding: 10px;
    display: flex;
    justify-content: center;
}

main > section#inicio > div.botao > button {
    background-color: var(--cor3);
    color: var(--cor2);
    font-size: 1.5em;
    font-weight: bolder;
    padding: 10px;
    width: 400px;
    border-radius: 8px;
    border-color: var(--cor3);
    position: relative;
}

main > section#inicio > div.botao > button:hover {
    transition: 0.3s;
    background-color: green;
    border-color: green;
    width: 350px;
    cursor: pointer;
}

main > section#inicio > div.botao > button > a > span {
    position: absolute;
    right: 3px;
    bottom: -3px;
    font-size: 25x;
    font-weight: bolder;
    padding-left: 5px;
}

main > section#inicio > div.botao > button > a > span {
    position: relative;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
}
