@charset "UTF-8";

@font-face {
    font-family: "Arimo";
    src: url("../fontes/Arimo-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Bloody";
    src: url("../fontes/BLOODY.TTF");
}

:root {
    --fonte1: "Arimo";
    --fonte2: "Bloody";
    --fonte3: Arial, Helvetica, sans-serif;

    --cor1: black;
    --cor2: white;
    --cor3: red;
    --cor4: gray;
    --cor5: rgba(255, 255, 255, 0.521);
}

body, html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    margin: 15px;
    padding: 0px;
    background-color: rgb(2, 2, 5);
}

main > h3 {
    color: var(--cor5);
    font-family: var(--fonte3);
    padding: 15px 15px 0px 15px;
    margin: 0px;
}

main > h1 {
    display: flex;
    justify-content: flex-start;
    color: var(--cor3);
    font-family: var(--fonte1);
    padding: 15px 15px 0px 15px;
    margin: 0px;
}

main > p {
    display: flex;
    justify-content: flex-end;
    color: var(--cor2);
    font: 20px var(--fonte1);
    padding: 15px 15px 0px 15px;
}

main > section > form {
    display: flex;
    flex-direction: column;
}

main > section > form > div {
    padding: 30px;
    background-color: rgb(53, 51, 51);
    padding: 15px;
    position: relative;
    width: 95%;
}

main > section > form > div > span#pessoa {
    position: absolute;
    top: 23px;
    right: 32px;
}

main > section > form > div > span#email {
    position: absolute;
    top: 23px;
    right: 30px;
}

main > section > form > div > span#msg {
    position: absolute;
    top: 23px;
    right: 30px;
}

main > section > form > div > * {
    display: flex;
    align-items: center;
    color: var(--cor2);
    width: 90%;
}

main > section > form > div > input[type=submit] {
    width: 92%;
    padding: 15px;
}

main > section > form > div > input, textarea {
    padding: 10px;
    background-color: rgb(5, 8, 7);
}